body {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

h1 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: rgb(30, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: arial, helvetica, serif;
    background-color: rgb(73, 190, 185);
}
h2 {
    font-size: 1.5em;
    background-color: rgb(84, 230, 91);
    margin: 10px;
    text-align: center;
    padding: 10px;
}
strong {
    font-style: italic;
    text-transform: uppercase;
}
p {
    line-height: 1.5;
    text-align: center;
    background-color: black;
}